---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Welcome!" }}</h3>

<p>This Website provides the documentation to the SPARQL-Query Editor for the <a href="https://www1.rgzm.de/samian/home/frames.htm">Samian Research Database</a>.</p>
<p>The documentation features prefixes, Data & Class maps, example queries as well as insight into the CSV-Data.</p>
<p>To view the documentation <a href="https://rgzm.github.io/samian-lod/doc/">click here</a>.</p>


<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->